// animations

@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1


@keyframes scale
	0%
		transform scale(0)
	100%
		transform scale(1)


@keyframes shadow-blue
	0%
		box-shadow 0px 0px 0px #4979A6
	100%
		box-shadow 5px 5px 0px #4979A6

@keyframes shadow-black
	0%
		box-shadow 0px 0px 0px #111
	100%
		box-shadow 15px 15px 0px #111


@keyframes move-from-right
	0%
		transform translateX(50%)
	100%
		transform translateX(0)


@keyframes move-from-left
	0%
		transform translateX(-50%)
	100%
		transform translateX(0)



// vue transition

.list-enter-active
.list-leave-active
	transition all .2s

.list-enter
.list-leave-to
	opacity 0
	height 0
	margin-bottom 0
	color transparent