
.icon
	display inline-block
	height 40px
	width 40px
	background-color transparent
	background-position center
	background-repeat no-repeat
	background-size 50% 50%
	border none
	transition all .1s
	cursor pointer
	&.delete
		background-image url('~/images/delete-icon.svg')
	

	&:hover
	&:focus
		outline none
		transform scale(1.1)