
::-webkit-scrollbar
	width 10px
	height 10px

::-webkit-scrollbar-button
	width 0px
	height 0px

::-webkit-scrollbar-thumb
	background: $color-blue
	border none
	border-radius 0
	&:hover
	&:active
		background: #508cbe

::-webkit-scrollbar-track
	background #111
	border none
	border-radius 0px
	&:hover
	&:active
		background: #111

::-webkit-scrollbar-corner
	background transparent